.flex-container {
    margin:0;
    list-style: none;
    display: flex;
  }
  
  .flex-item {
    color: rgb(191, 191, 191);
  }
  .space-between { 
    justify-content: space-between; 
  } 
  
  .octiconk {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
    padding-bottom: 2px;
  }